/* 전체에 대한 스타일 */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

/* 헤더 */
header {
	background-color: #486f38;
	color: #fff;
	padding: 20px;
}

header h1 {
	margin: 0;
    padding: 0;
    text-align: center;
}


/* 섹션 */

    /* 섹션 nav */
section#nav {
    padding: 20px;
}

section nav {
    float: center;
    padding: 0;
}

section nav ul {
	margin: 0;
	padding: 0;
    text-align: center;
}

section nav li {
    display: inline-block;
	margin: 0 10px;
    padding: 0;
    font-size: 14pt;
}


section nav a {
	color: #3a592d;
	text-decoration: none;
}

section nav a:hover {
	color: #ccc;
}

    /* 섹션 본문 */
section {
	padding: 50px;

 }
section h3 {
    text-align: center;
	margin: auto;
    padding: 0;
    color: #3a592d;
    
}
section h2 {
	margin-top: 0;
    color: #3a592d;
    text-align: center;
}
section p {
    margin-top: 0;
    padding: 0;
    
}

p.text {
   font-size: 10pt;
   text-align: center;
}

#projects {
    text-align: center;
}

section ul.projects {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
    text-align: center;
    justify-content: center;

}

section li.project {
	margin-right: 60px;
	margin-bottom: 60px;
	
}

section li.project:last-child {
    margin-right: 0;
  }

section li.project img{
    width: 100%;
    max-width: 300px;
    height: auto;
}





section h3 {
	margin-top: 0;
}

/* 폼 */
form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 10px;
}

input, textarea {
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #555;
}

/* 푸터 */
footer {
	background-color: #ccc;
	color: #333;
	padding: 20px;
	text-align: center;
}